body {
	
	font-family: sans-serif;
	color: #000;
}

h1 {
	text-align: center;
}

a {
	padding: 1%;
	background-color: #000;
	float: left;
	margin-left: 5%;
	text-decoration: none;
	color: #fff;

}

a:visited {
	color: #fff;
}

#results {
	clear: both;
	padding-top: 2%;
	width: 80%;

	
}

.api-video{
	
	width: 33%;

}

.api-video-full {
	float: left;
	width: 25%;
}
